<!-- views/partials/head.ejs -->

<meta name="viewport" content="width=device-width,initial-scale=1">
  
<title>Art Carpet Bombing Governance</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="author" contents="ACB Team">
<meta name="description" content="느슨해진 NFT씬에 긴장감을 융단폭격하기 위해 만들어진 우리는 ART CARPET BOMBING ACB 크루입니다 각자의 프로필 사진에 하나쯤 전시하고 싶은 그런 예술품을 만들어 낸다는게 우리의 목표. 온갖 스캠이 난무하는 바로 여기에서 제 2의 르네상스를 꽃피우기 위해 다양한 예술가들과 함께하며 근본있는 프로젝트들을 진행할 예정입니다.">
<meta name="keywords" content="Art Carpet Bombing, ACB, NFT, Klaytn, Governance, 거버넌스, PFP, EE, GroundX">

<meta name="format-detection" content="telephone=no">
<meta property="og:title" content="Art Carpet Bombing Governance Page">
<meta property="og:url" content="https://nft.acbgoods.site/">
<meta property="og:image" content="https://lh3.googleusercontent.com/LOoh-ARCZ01tmxOx2PYZ7FX70u4Q33jBANMCtBLq87mRkWbHEmBkezwgOiDiOMMSlNN3n1XvC7BKEM5jkwEd18CxsDxqIpA7h1HyFIQpCqMtCXMOnSk9_g=s0">
<meta property="og:description" content="느슨해진 NFT씬에 긴장감을 융단폭격하기 위해 만들어진 우리는 ART CARPET BOMBING ACB 크루입니다 각자의 프로필 사진에 하나쯤 전시하고 싶은 그런 예술품을 만들어 낸다는게 우리의 목표. 온갖 스캠이 난무하는 바로 여기에서 제 2의 르네상스를 꽃피우기 위해 다양한 예술가들과 함께하며 근본있는 프로젝트들을 진행할 예정입니다.">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Art Carpet Bombing Governance Page">
<meta name="twitter:url" content="https://nft.acbgoods.site/">
<meta name="twitter:image" content="https://lh3.googleusercontent.com/LOoh-ARCZ01tmxOx2PYZ7FX70u4Q33jBANMCtBLq87mRkWbHEmBkezwgOiDiOMMSlNN3n1XvC7BKEM5jkwEd18CxsDxqIpA7h1HyFIQpCqMtCXMOnSk9_g=s0">
<meta name="twitter:description" content="느슨해진 NFT씬에 긴장감을 융단폭격하기 위해 만들어진 우리는 ART CARPET BOMBING ACB 크루입니다 각자의 프로필 사진에 하나쯤 전시하고 싶은 그런 예술품을 만들어 낸다는게 우리의 목표. 온갖 스캠이 난무하는 바로 여기에서 제 2의 르네상스를 꽃피우기 위해 다양한 예술가들과 함께하며 근본있는 프로젝트들을 진행할 예정입니다.">
<link rel="stylesheet" href="TemplateData/style.css">
<!-- jquery & bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- web font --> <!-- 구글에서 제공하는 웹폰트는 https://fonts.google.com 에서 검색 가능 -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

<!-- my css -->
<link rel="stylesheet" href="/css/master.css">

<!-- my js -->
<script src="/js/script.js"></script>
<script>
   function isOwnerAddr(addr) {
       return false;
   }
</script>
