<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron"> <!-- jumbotron이라는 class를 사용하였는데, 이는 bootstrap에서 제공하는 컴포넌트, https://getbootstrap.com/docs/4.4/components/jumbotron -->
        <h1>ACB Goods</h1>
        <P>ACB Goods를 신청하는 페이지 입니다.</p>
        <P>Goods에 대한 정보는 아래 내용을 참고해 주세요.</p>
      </div>
      <iframe src="https://artcarpetbombing.com/" width="100%" height="1000px"></iframe>

    </div>
  </body>
</html>