<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">
        <img src="https://project-ks1.s3.ap-northeast-2.amazonaws.com/1_acb_goods/welcome.jpg" class="img-fluid" alt="Responsive image">
    </div>
  </body>
</html>