<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <iframe src="https://acbgoods.creatorlink.net/" width="100%" height="100%"></iframe>
  </body>
</html>